.title{
  font-weight: bold;
  font-size: 24px;
  width: 60%;
  alignment: top;
  color: white;
  margin: 20px;
}

.description {
  width: 60%;
  color: white;
  margin: 10px;
}

.price{
  width: 60%;
  color: white;
  margin: 10px;
}

.dashboard {
  background-color: rgba(35, 35, 35, 0.5);
  color: white;
}

.product-information{
  text-align: right;
  font-style: italic;
  color: black;
  font-size: 16px;
}

.shop-items{
  font-size: 16px;
  color: white;
}

.filter{
  background-color: rgba(35, 35, 35, 0);
  top:8px;
  left:14px;
}

.filterapply-button{
  bottom:8px;
  float: right;
}

.product-information {
  color: white;
}

.product-list{
  position: absolute;
  background-color: rgba(35, 35, 35, 0.5);
  border-style: solid;
  border-color:rgb(255, 0, 0);
}

.horizontal-mat-list-item {
  float: right;
  display: list-item;
}

.select-category{
  background-color: rgba(35, 35, 35, 0);
  color: white
}

.new-product-button{
  right: 9px;
  background-color: rgb(255, 38, 0);
  color: white;
}

.new-product{
  left:14px;
  width: 12.2%;
 }

 .image{
   margin-left: 10px;
 }

 .delete-button{
  background-color: rgb(255, 38, 0);
  color: white;
 }

 .buy-button{
  background-color: rgb(255, 38, 0);
  color: white;
 }

 .edit-button{
  background-color: rgba(212, 0, 255, 0.842);
  color: white;
 }

