<mat-card class="shop-menu" *ngIf="loggedIn && userService.getIsAdmin()">
  <button class="post-button" mat-raised-button (click)="openPopUp()">New Product</button>
</mat-card>

<!-- Filter for the User and Admin -->
<mat-form-field class="filter">
    <mat-label class="select-category">Filter</mat-label>
    <mat-select [(ngModel)]="selectedTags" [formControl]="tags" multiple>
      <mat-option *ngFor="let tag of tagList" [value]="tag">{{tag}}</mat-option>
      <button mat-raised-button (click)="filterProducts()">Apply</button>
    </mat-select>
</mat-form-field>

<!-- Shows all the available products -->
<mat-list-item class="shop-items" *ngFor="let product of products">
  <mat-card class="product-list">
                 <p class="product-information">
                    {{product.category}}
                    {{product.createdAt |  date:'dd/MM/yyyy'}}
                 </p>

                <mat-card class="title">
                    {{product.title}}
                </mat-card>

                <div *ngIf="product.imagePath != ''">
                  <img src={{product.imagePath}}>
                </div>

                <mat-card class="description">
                    About this product: {{product.description}}
                </mat-card>

    <mat-card class="price">
      Price: {{product.price}} €
    </mat-card>

<!-- Buttons for Admins and Users -->

    <button
      *ngIf="userService.getLoggedIn() && userService.getIsAdmin()"
      mat-flat-button color="warn" (click)="delete(product)">
        Delete Product
    </button>

    <button
      *ngIf="userService.getLoggedIn() && userService.getIsAdmin()"
      mat-flat-button color="accent" (click)="openEditPopUp(product)">
        Edit Product
    </button>

    <button
      *ngIf="!userService.getIsAdmin()" mat-flat-button color="accent" (click)="buyProduct(product)">
        BUY NOW
    </button>
  </mat-card>
</mat-list-item>
