<mat-card>
  <h3>Register</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="Username" [(ngModel)]="userToRegister.username">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password">
    <p style="color:red">{{ registerErrorMsg }}</p>
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="First Name" name="Firstname" [(ngModel)]="userinformationToRegister.firstname">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="Last Name" name="Lastname" [(ngModel)]="userinformationToRegister.lastname">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="Email" name="Email" [(ngModel)]="userinformationToRegister.email">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="Address" name="Address" [(ngModel)]="userinformationToRegister.address">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="ZIPCode" name="ZIPCode" [(ngModel)]="userinformationToRegister.zipCode">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="City" name="City" [(ngModel)]="userinformationToRegister.city">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="Birthday" name="Birthday" [(ngModel)]="userinformationToRegister.birthday">
  </mat-form-field>
  <p>
  <mat-form-field>
    <input matInput type="text" placeholder="Phonenumber" name="Phonenumber" [(ngModel)]="userinformationToRegister.phonenumber">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="registerUser()">Register</button>
</mat-card>

<mat-card>
  <h3>Login</h3>

  <div *ngIf="!loggedIn">
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
    <p style="color:red">{{ loginErrorMsg }}</p>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<mat-card>
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
