<!--This is the login card
    TODO: Put it into popup or new page-->
    <mat-card class="login-form">
      <h3>Login</h3>
      <!--If not logged in, make login possible-->
      <div *ngIf="!loggedIn">
        <mat-form-field>
          <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
        </mat-form-field>
        <button class="login-button" mat-flat-button color="primary" (click)="loginUser()">Login</button>
        <p style="color:red">{{ loginErrorMsg }}</p>
      </div>
      <!--Make logout possible-->
      <div *ngIf="loggedIn">
        <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
      </div>
    </mat-card>

<!--This is the register card-->
  <mat-card class="registration-form">
    <h3>Register</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="Username" [(ngModel)]="userToRegister.username">
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password">
      <!--If the password conditions aren't met, it will be written here-->
      <p style="color:red">{{ passwordConditionErrorMsg }}</p>
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="text" placeholder="First Name" name="Firstname" [(ngModel)]="userinformationToRegister.firstname">
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="text" placeholder="Last Name" name="Lastname" [(ngModel)]="userinformationToRegister.lastname">
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="text" placeholder="Email" name="Email" [(ngModel)]="userinformationToRegister.email">
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="text" placeholder="Address" name="Address" [(ngModel)]="userinformationToRegister.address">
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="text" placeholder="ZIPCode" name="ZIPCode" [(ngModel)]="userinformationToRegister.zipCode">
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="text" placeholder="City" name="City" [(ngModel)]="userinformationToRegister.city">
    </mat-form-field>
    <p>
    <mat-form-field class="registration-item">
      <input matInput type="text" placeholder="Birthday" name="Birthday" [(ngModel)]="userinformationToRegister.birthday">
    </mat-form-field>
    <p>
    <mat-form-field>
      <input matInput type="text" placeholder="Phonenumber" name="Phonenumber" [(ngModel)]="userinformationToRegister.phonenumber">
    </mat-form-field>
    <!--If the register conditions aren't met, it will be written here-->
    <p style="color:red">{{ registerErrorMsg }}</p>
    <button class="registration-button" mat-flat-button color="primary" (click)="registerUser()">Register</button>
    <p style="color:green">{{ registrationAcceptedMsg }}</p>
  </mat-card>

<!--Check endpoints, might be deleted later on-->
<mat-card>
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
