<!--
<mat-form-field>
    <mat-label class="select-category">Filter</mat-label>
    <mat-select [(ngModel)]="selectedTags" [formControl]="tags" multiple>
    <mat-option *ngFor="let tag of tagList" [value]="tag">{{tag}}</mat-option>
    <button mat-raised-button (click)="filterProducts()">Apply</button>
    </mat-select>
</mat-form-field>-->

<mat-list-item class="shop-items" *ngFor="let product of products">
    <p class="product-information">
        {{product.category}}
        {{product.createdAt |  date:'dd/MM/yyyy'}}
    </p>

    <mat-card class="title">
        {{product.title}}
    </mat-card>

    <mat-card class="description">
        About this product: {{product.description}}
    </mat-card>

    <mat-card class="price">
        Price: {{product.price}} €
    </mat-card>

    <mat-card class="username">
        Username: {{order.username}} €
    </mat-card>
</mat-list-item>

