<div *ngIf="userService.getIsAdmin() && userService.getLoggedIn()">
  <br><br>
  <mat-card class="orders"> <p><b>List of all orders:</b></p>  </mat-card>
    <mat-list-item class="order-list"  *ngFor="let order of orders">
        <mat-card class="shop-items-admin">

            <!-- General Information -->
          <mat-card class="info">
            <p><b>Product:</b></p> {{order.productTitle}}
          </mat-card>
          <mat-card class="info">
            <p><b>Price:</b></p> {{order.productPrice}} €
          </mat-card>
          <mat-card class="info">
            <p><b>Username:</b></p> {{order.username}}
            </mat-card>
            <mat-card class="info">
              <p><b>deliveryAdress:</b></p> {{order.deliveryAdress}}
            </mat-card>
            <mat-card class="info">
              <p><b>city:</b></p> {{order.city}}
            </mat-card>
            <mat-card class="info">
              <p><b>zipcode:</b></p> {{order.zipcode}}
            </mat-card>
            <mat-card class="info">
              <p><b>paymentMethod:</b></p> {{order.paymentMethod}}
            </mat-card>
            <mat-card class="info">
              <p><b>Status:</b></p> {{order.orderStatus}}
            </mat-card>

            <!-- Interactions -->
            <div *ngIf="!changingStatus">
                <div *ngIf="order.orderStatus === 'pending'">
                  <button class="dashboard-button" mat-flat-button (click)="askForPermission(order)">
                      Change status
                  </button>
                </div>
                <div *ngIf="order.orderStatus === 'shipped'">
                  Order got shipped
                </div>
            </div>
            <div *ngIf="changingStatus && order.orderId===currOrderId">
                <div *ngIf="order.orderStatus === 'pending'">
                  <button class="dashboard-button" mat-flat-button (click)="resolveOrder(order)">
                      Yes
                  </button>
                  <button class="dashboard-button" mat-flat-button (click)="terminateProcess()">
                      No
                  </button>
                </div>
                <div *ngIf="order.orderStatus === 'shipped'">
                  Order got shipped
                </div>
            </div>
        </mat-card>
    </mat-list-item>
</div>

<div *ngIf="!userService.getIsAdmin() && userService.getLoggedIn()">
  <br><br>
  <mat-card class="own-orders"> <p><b>List of your own orders:</b></p>  </mat-card>
    <mat-list-item  *ngFor="let order of userSpecificOrders">
      <div *ngIf="order.username === userService.getUserName()">
        <mat-card class="shop-items-fan">

          <!-- General Information -->
          <mat-card class="info">
            <p><b>Product:</b></p>{{order.productTitle}}
          </mat-card>
          <mat-card class="info">
            <p><b>Price:</b></p> {{order.productPrice}} €
          </mat-card>
          <mat-card class="info">
            <p><b>Username:</b></p> {{order.username}}
            </mat-card>
            <mat-card class="info">
              <p><b>deliveryAdress:</b></p> {{order.deliveryAdress}}
            </mat-card>
            <mat-card class="info">
              <p><b>city:</b></p> {{order.city}}
            </mat-card>
            <mat-card class="info">
              <p><b>zipcode:</b></p> {{order.zipcode}}
            </mat-card>
            <mat-card class="info">
              <p><b>paymentMethod:</b></p> {{order.paymentMethod}}
            </mat-card>
            <mat-card class="info">
              <p><b>Status:</b></p> {{order.orderStatus}}
            </mat-card>

            <!-- Interactions -->
            <div *ngIf="!changingStatus">
              <div *ngIf="order.orderStatus === 'pending'">
                <button class="dashboard-button" mat-flat-button (click)="askForPermission(order)">
                    Cancel order
                </button>
              </div>
              <div *ngIf="order.orderStatus === 'shipped'">
                Order got shipped
              </div>
            </div>
            <div *ngIf="changingStatus && order.orderId===currOrderId">
              <div *ngIf="order.orderStatus === 'pending'">
                <button class="dashboard-button" mat-flat-button (click)="cancelOrder(order)">
                    Yes
                </button>
                <button class="dashboard-button" mat-flat-button (click)="terminateProcess()">
                    No
                </button>
              </div>
            </div>
        </mat-card>
      </div>
    </mat-list-item>
</div>
