<div *ngIf="userService.getIsAdmin() && userService.getLoggedIn()">
<mat-list-item class="shop-items" *ngFor="let order of orders">
    <mat-card class="username">
        Username: {{order.username}} 
    </mat-card>
</mat-list-item>
</div>

<div *ngIf="!userService.getIsAdmin() && userService.getLoggedIn()">
    <mat-list-item class="shop-items" *ngFor="let order of userSpecificOrders">
        <mat-card class="username">
            Username: {{order.username}} 
        </mat-card>
    </mat-list-item>
</div>

