.title{
  background-color: rgba(35, 35, 35, 0.5);
  border-style: solid;
  border-color:rgba(53, 53, 53);
  font-weight: bold;
  font-size: 24px;
  width: 60%;
  alignment: top;
  color: white;
}

.text {
  background-color: rgba(35, 35, 35, 0.5);
  border-style: solid;
  border-color:rgba(53, 53, 53);
  width: 60%;
  color: white;
}

.votes{
  background-color: rgba(35, 35, 35, 0.5);
  border-style: solid;
  border-color:rgba(53, 53, 53);
  width: 60%;
  color: white;
 }

.post-information{
  text-align: right;
  font-style: italic;
  color: white;
  font-size: 16px;
}

.filterapply-button{
  bottom:8px;
  float: right;
}
