<!--This is how the posts will appear on the front page-->
<p class="post-information">
  {{post.category}}
  {{post.createdAt |  date:'dd/MM/yyyy'}}
</p>

<mat-card class="title">
  {{post.title}}
</mat-card>

<mat-card class="text">
  {{post.text}}
</mat-card>
  
<!--<img mat-card-image class="image" alt="image"
  src="http://localhost:3000/src/public/uploads/1637796357453_Unknown.png">-->

<mat-card class="votes">
 <button
 *ngIf="userService.getLoggedIn() && !userService.getIsAdmin()"
 mat-flat-button color="primary" (click)="upVote()">
   UpVote
  </button>
  {{post.upvoteCount - post.downvoteCount}}
  <button
  *ngIf="userService.getLoggedIn() && !userService.getIsAdmin()"
  mat-flat-button color="warn" (click)="downVote()">
    DownVote
  </button>

</mat-card>

  <button
  *ngIf="userService.getLoggedIn() && !userService.getIsAdmin()"
  mat-flat-button color="primary" (click)="openPopUp()">
    Comment
  </button>

<button
*ngIf="userService.getLoggedIn() && userService.getUser()?.userId === post.userId || userService.getIsAdmin()"
mat-flat-button color="warn" (click)="delete()">
  Delete Post
</button>

<button
*ngIf="userService.getLoggedIn() && userService.getUser()?.userId === post.userId"
mat-flat-button color="accent" (click)="openEditPopUp()">
  Edit Post
</button>

  <mat-list>
     <mat-list-item *ngFor="let comment of post.comments">
      <mat-card>
          {{comment.text}}
        </mat-card>
        <app-comment
          [comment]="comment"
          (deleteEvent)="deleteComment($event)"
        ></app-comment>
      </mat-list-item>
    </mat-list>

<div *ngIf="post.comments.length === 0">
 <mat-card>
      No comments available.
  </mat-card>
</div>
<!--
  <mat-card>
    Input field with list name
    <mat-form-field>
      <input matInput placeholder="List Name" [(ngModel)]="post.name" name="name" (ngModelChange)="updateList()">
    </mat-form-field>
    Button to delete list
    <button mat-flat-button color="warn" (click)="deleteList()" [disabled]="post.comments.length != 0">
      Delete list
    </button>

    <br>


 <mat-card>
 <hr>

  List of CommentComponents displaying all items of list
   <mat-list>
      <mat-list-item *ngFor="let comment of post.comments">
        <app-comment
          [comment]="comment"
          (update)="updateItem($event)"
          (delete)="deleteItem($event)"
        ></app-comment>
      </mat-list-item>
    </mat-list>

    <div *ngIf="post.comments.length === 0">
      No Posts available.
    </div>
  </mat-card>

    <Input field for new item name
    <mat-form-field>
      <input matInput placeholder="Item Name" [(ngModel)]="newCommentName">
    </mat-form-field>
    <Button to create item
    <button mat-flat-button color="primary" (click)="createItem()" [disabled]="newCommentName === ''">Create new item</button>
-->
