<!--This is how the posts will appear on the front page-->
{{post.category}} 
{{post.createdAt |  date:'dd/MM/yyyy'}}

<mat-card>
  {{post.title}}
</mat-card>

<mat-card>
  {{post.text}}
</mat-card>

<mat-card>
 <button mat-flat-button color="primary" (click)="upVote()">
   UpVote
  </button>
  {{post.upvoteCount - post.downvoteCount}}
  <button mat-flat-button color="warn" (click)="downVote()">
    DownVote
  </button>
  
</mat-card>
 
<button mat-flat-button color="primary" (click)="openPopUp()">
  Comment
</button>

<button mat-flat-button color="warn" (click)="delete()">
  Delete Post
</button>

  <mat-list>
     <mat-list-item *ngFor="let comment of post.comments">
      <mat-card>
          {{comment.text}}
        </mat-card>
        <app-comment
          [comment]="comment"
          (deleteEvent)="deleteComment($event)"
        ></app-comment>
      </mat-list-item>
    </mat-list>

<div *ngIf="post.comments.length === 0">
 <mat-card>
      No comments available.
  </mat-card>
</div>
<!--
  <mat-card>
    Input field with list name 
    <mat-form-field>
      <input matInput placeholder="List Name" [(ngModel)]="post.name" name="name" (ngModelChange)="updateList()">
    </mat-form-field>
    Button to delete list 
    <button mat-flat-button color="warn" (click)="deleteList()" [disabled]="post.comments.length != 0">
      Delete list
    </button>

    <br>


 <mat-card>
 <hr>

  List of CommentComponents displaying all items of list
   <mat-list>
      <mat-list-item *ngFor="let comment of post.comments">
        <app-comment
          [comment]="comment"
          (update)="updateItem($event)"
          (delete)="deleteItem($event)"
        ></app-comment>
      </mat-list-item>
    </mat-list>

    <div *ngIf="post.comments.length === 0">
      No Posts available.
    </div>
  </mat-card>

    <Input field for new item name
    <mat-form-field>
      <input matInput placeholder="Item Name" [(ngModel)]="newCommentName">
    </mat-form-field>
    <Button to create item 
    <button mat-flat-button color="primary" (click)="createItem()" [disabled]="newCommentName === ''">Create new item</button>
-->