.title{
  font-weight: bold;
  font-size: 24px;
  width: 60%;
  alignment: top;
  color: white;
  text-align: left;
  padding-bottom: 10px;
}

.text {
  padding-top: 10px;
  color: white;
}

.buttons{
  text-align: left;
  font-style: italic;
  color: white;
  font-size: 16px;
 }

 .downvote-icon {
    color: rgba(212, 0, 255, 0.842);
 }

 .upvote-icon {
   color: rgb(255, 38, 0);
}

.post-information{
  text-align: right;
  font-style: italic;
  color: white;
  font-size: 16px;
}

.filterapply-button{
  bottom:8px;
  float: right;
}
