* {
  margin: 0;
  padding: 0;
}

mat-dialog-container {
  background-color: rgba(25, 25, 25) !important;
}

/*
.background-image {
  background-image: url("./Images/muster2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto !important;
}
*/

.mat-card {
  margin: 20px 0;
  background-color: #EEE;
}

body {
  background-color: gray;
}

button, input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

