* {
  margin: 0;
  padding: 0;
}

mat-dialog-container {
  background-color: rgba(36, 36, 36) !important;
  border-color:rgb(219, 16, 16) !important;
}

.mat-card {
  margin: 20px 0;
  background-color: #fff;
}

body {
  background-color: rgb(7, 7, 7);
}

button, input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}
