<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>xXUltr4G4m1ngP4g3Xx</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Forum">
    <mat-card *ngIf="loggedIn && !isAdmin">
        <button mat-raised-button (click)="openPopUp()">New Post</button>
    </mat-card>
<!--This makes the posts appear on the post page-->
    <mat-list-item *ngFor="let post of posts">
      <mat-card>
            <app-post
              [post]="post"
              (deleteEvent)="deleteList($event)"
              (upvoteEvent)="upvotePost($event)"
              (downvoteEvent)="downvotePost($event)"
            ></app-post>
      </mat-card>
    </mat-list-item>

  
    <!--
      (update)="updateList($event)"
    -->
  </mat-tab>

  <mat-tab label="Authentication">
    <app-user></app-user>
  </mat-tab>

  <mat-tab *ngIf="loggedIn" label="Profile Page">
   <app-profile></app-profile>
  </mat-tab>
</mat-tab-group>

  
