/*---------------------------TOOL-BAR---------------------------*/
.title-toolbar{
  background-image: url("../Images/gamers1.1.jpg");
  background-blend-mode: multiply;
  background-size: 100% 100%;
  height: 150px;
  position: relative;
}

.title-toolbar-text{
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 300%;
  margin: 0 auto;

  line-height: 0.70em;
  outline: none;
  animation: animate 10s linear infinite;
}

@keyframes animate{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
  }
}
/*----------------------------------------------------------------------*/
.sign-in-button {
  background-color: rgb(0, 255, 42);
}

.sign-in-button-text {
  color: #fff;
}

.forum-menu{
  display: flex;
  margin: 0 auto;
  width: 50%;
  background-color: rgba(35, 35, 35, 0.5);
  border-style: solid;
  border-color:rgba(53, 53, 53);
  color: white;
 }

.post-list{
  display: flex;
  margin: 0 auto;
  width: 50%;
  background-color: rgba(35, 35, 35, 0.5);
  border-style: solid;
  border-color:rgba(53, 53, 53);
}

.mat-tab-label{
  background-color: rgba(35, 35, 35);
  color: white;
  font-size: 120%;
}

.menu-icon{
color: #fff;
}

.post-button{
  background-color: rgba(53, 53, 53, 0.5);
  border-style: solid;
  color: white;
}

.select-category{
  background-color: rgba(35, 35, 35, 0.5);
  color: white;
}
