<mat-toolbar class="title-toolbar">
  <mat-toolbar-row>
    <div class="title-toolbar-text"> <span>xXUltr4G4m1ngP4g3Xx</span></div>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <button *ngIf="loggedIn" mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  <button *ngIf="!loggedIn" mat-raised-button (click)="openLoginWindow()" >Login</button>
  <button mat-raised-button (click)="openRegisterWindow()" >Register</button>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon class="menu-icon" svgIcon="menu_button"></mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div>
      <button mat-icon-button (click)="goToForum('Forum')">
        <mat-icon>Forum</mat-icon>
      </button>
      <button mat-icon-button (click)="goToShop('Shop')">
        <mat-icon>Shop</mat-icon>
      </button>
      <button mat-icon-button (click)="goToProfile('Profile')">
        <mat-icon>Account</mat-icon>
      </button>
    </div>
  </mat-menu>
</div>

<router-outlet></router-outlet>


  <!--
  <mat-tab label="Authentication">
    <app-user
    (checkAdminEvent)="accessAdminEndpoint()">
    </app-user>
  </mat-tab>
   -->
    <!--
   <mat-tab label="Shop">
    <app-shop></app-shop>
  </mat-tab>
     -->

  <mat-tab *ngIf="loggedIn" label="Profile Page">
   <app-profile></app-profile>
  </mat-tab>

<mat-tab *ngIf="loggedIn" label="Orders">
  <app-order></app-order>
 </mat-tab>



