<mat-toolbar class="title-toolbar">
  <mat-toolbar-row>
    <div class="title-toolbar-text"> <span>xXUltr4G4m1ngP4g3Xx</span></div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-tab-group >
  <mat-tab label="Forum">
    <mat-card class="forum-menu" *ngIf="loggedIn && !userService.getIsAdmin()">
        <button class="post-button" mat-raised-button (click)="openPopUp()">New Post</button>

        <mat-form-field>
          <mat-label class="select-category">Filter</mat-label>
          <mat-select [(ngModel)]="selectedTags" [formControl]="tags" multiple>
            <mat-option *ngFor="let tag of tagList" [value]="tag">{{tag}}</mat-option>
            <button mat-raised-button (click)="filterPosts()" >Apply</button>
          </mat-select>
        </mat-form-field>

        <p>{{selectedTags}}</p>

        <button mat-button [matMenuTriggerFor]="menu">Sort by</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="sortPosts('Date')" >Date</button>
            <button mat-menu-item (click)="sortPosts('Score')" >Score</button>
          </mat-menu>

    </mat-card>
<!--This makes the posts appear on the post page-->
    <mat-list-item *ngFor="let post of posts">
      <mat-card class="post-list">
            <app-post
              [post]="post"
              (deleteEvent)="deleteList($event)"
              (upvoteEvent)="upvotePost($event)"
              (downvoteEvent)="downvotePost($event)"
            ></app-post>
      </mat-card>
    </mat-list-item>


    <!--
      (update)="updateList($event)"
    -->
  </mat-tab>

  <mat-tab label="Authentication">
    <app-user
    (checkAdminEvent)="accessAdminEndpoint()">
    </app-user>
  </mat-tab>

  <mat-tab *ngIf="loggedIn" label="Profile Page">
   <app-profile></app-profile>
  </mat-tab>
</mat-tab-group>


