.file-input {
    display: none;
}

.upload-btn {
    position: absolute;
    background-color: rgb(255, 17, 0);
}

.dialogue {
    color: white;
}

.dialogue-label {
    color: rgb(126, 126, 126);
}

.publish-button {
    background-color: rgb(255, 17, 0);
}

.close-button {
    background-color: rgb(255, 255, 255);
}

.publish-button-text {
    color: #fff;
}
  