<!--This it the popup dialogue window for posts-->
<h1 mat-dialog-title>

<div *ngIf="data.value === 'post'">
  <mat-form-field>
   <input matInput placeholder="Write a title..." [(ngModel)]="postTitle" name="name">
  </mat-form-field>
</div>

</h1>
<div mat-dialog-content>
  <mat-form-field [style.width.px]=500>
      <textarea matInput
            matInput placeholder="Write something..."
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="9"
            [(ngModel)] = "text"
      ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>

  <div *ngIf="data.value === 'post'">
    <button mat-raised-button color="primary" (click)="publishPost()">Post</button>

    <form action="http://localhost:3000" method="post" enctype="multipart/form-data">
      <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>
    </form>

    <div class="file-upload">
        <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
            <mat-icon>+</mat-icon>
        </button>
    </div>
  </div>

  <div *ngIf="data.value === 'comment'">
  <button mat-raised-button color="primary" (click)="publishComment()">Comment</button>
  </div>

   <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>
