<!-- // DISPLAY POST \\ -->
<mat-card class="post-list">

  <!-- General Information -->
  <p class="post-information">
    {{post.category}}
    {{post.createdAt |  date:'dd/MM/yyyy'}}
  </p>
  
  <div class="title">
    {{post.title}}
  </div>

  <div *ngIf="post.imagePath != ''">
    <img src={{post.imagePath}}>
  </div>
  
  <div class="text">
    {{post.text}}
  </div>

  <!-- Post Interactions -->
  <button class="comment-button"
    *ngIf="userService.getLoggedIn() && !userService.getIsAdmin()"
    mat-flat-button (click)="openCommentWindow()">
    Comment
  </button>
</mat-card>
<!--/////////////////////////////////////////////////////////////////////////////////////-->

<!-- // DISPLAY COMMENTS \\ -->
<mat-list-item *ngFor="let comment of post.comments">
    <!-- General Information -->
    <mat-card class="comment-list">
      <div class="text"> 
        {{comment.text}}
      </div>

      <!-- Comment Interactions -->
      <button class="buttons"
        *ngIf="userService.getLoggedIn() && userService.getUserId() === comment.userId"
        mat-icon-button (click)="openEditPopUp(comment)">
        <mat-icon class="editComment-icon" svgIcon="editPost_button"></mat-icon>
      </button>

      <button class="buttons"
        *ngIf="userService.getLoggedIn() && userService.getUserId() === comment.userId"
        mat-icon-button (click)="deleteComment(comment)">
        <mat-icon class="editPost-icon" svgIcon="deleteComment_button"></mat-icon>
      </button>
    </mat-card>
</mat-list-item>
<!--/////////////////////////////////////////////////////////////////////////////////////-->
