.container {
      background: transparent !important;
}

.profile-button {
  background-color: rgb(255, 0, 0);
  color: white;
  margin-bottom: 20px;
}

.info {
  margin-top: 20px;
}

.navigation{
  left: 14px;
  padding-top: 20px;
  background-color: rgba(35, 35, 35, 0.5);
  color: white;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 0, 0);
}

.post-information{
  text-align: right;
  font-style: italic;
  color: white;
  font-size: 16px;
}

.title{
  font-weight: bold;
  font-size: 24px;
  width: 60%;
  alignment: top;
  color: white;
  text-align: left;
  padding-bottom: 10px;
}

.text {
  padding-top: 10px;
  color: white;
}


.info {
  background-color: rgba(36, 36, 36, 0.5);
  color: white;
}

.order-list{
  display: block;
  margin-left:auto;
  margin-right:auto;  
  vertical-align:middle;
  width: 75%;
  background-color: rgba(36, 36, 36, 0.5);
  border-style: solid;
  border-color:rgb(219, 16, 16);
  color: white;
}


.profile-post-list{
  display: block;
  margin-left:auto;
  margin-right:auto;  
  vertical-align:middle;
  width: 75%;
  background-color: rgba(36, 36, 36, 0.5);
  border-style: solid;
  border-color:rgb(219, 16, 16);
}

.content-card{
  left: 20px;
  width: 93%;
  height: auto;
  background-color: rgba(35, 35, 35, 0.5);
  color: white;
  padding-top: 20px;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 0, 0);
}

.content {
  }

.save-button{
  margin-top: 20px;
  left: 320;
  background-color: rgba(212, 0, 255, 0.842);
  color: white;
}
