<mat-drawer-container class="container">

  <!-- Filters what account information the User wants to see -->

  <mat-drawer class="navigation" mode="side" opened>
    <div>
      <p>
        <button class="profile-button" mat-raised-button (click)="showAccInfo()">Account information</button>
      </p>
      <p>
        <button class="profile-button" mat-raised-button (click)="showPosts()">Posts</button>
      </p>
      <p>
        <button class="profile-button" mat-raised-button (click)="showOrders()">Orders</button>
      </p>
    </div>
  </mat-drawer>


  <mat-drawer-content class="content">
      <mat-card class="content-card">
        <div *ngIf="showInfo">
          <!-- Display Userinformation -->
          <p>
            First name: <input class="info" [value]="firstName" placeholder="Write your firstname" [(ngModel)]="firstName">
          </p>
          <p>
            Last name: <input class="info" [value]="lastName" placeholder="Write your lastname" [(ngModel)]="lastName">
          </p>
          <p>
            Address: <input class="info" [value]="address" placeholder="Write your address" [(ngModel)]="address">
          </p>
          <p>
            City: <input class="info" [value]="city" placeholder="Write your city" [(ngModel)]="city">
          </p>
          <p>
            Zipcode: <input class="info" [value]="zipCode" placeholder="Write your zipcode" [(ngModel)]="zipCode">
          </p>
          <p>
            Birthday: <input class="info" [value]="birthday" placeholder="Write your phonenumber" [(ngModel)]="phonenumber">
          </p>
          <p>
            Phonenumber: <input class="info" [value]="phonenumber" placeholder="Write your phonenumber" [(ngModel)]="phonenumber">
          </p>

          <p>
            <button class="save-button" mat-raised-button (click)="editInformation()">Save</button>
          </p>
        </div>

        <div *ngIf="showPost">
          <!-- // DISPLAY POSTS \\ -->
          <mat-list-item *ngFor="let post of posts">
            <mat-card class="profile-post-list">

              <!-- General Information -->
              <p class="post-information">
                {{post.category}}
                {{post.createdAt |  date:'dd/MM/yyyy'}}
              </p>

              <div class="title">
                {{post.title}}
              </div>

              <div *ngIf="post.imagePath != ''">
                <img src={{post.imagePath}}>
              </div>

              <div class="text">
                {{post.text}}
              </div>
            </mat-card>
          </mat-list-item>
        </div>

        <div *ngIf="showOrder">
          <mat-list-item *ngFor="let order of orders">
            <mat-card class="order-list">

                <!-- Display Products -->
              <mat-card class="info">
                <p><b>Product:</b></p> {{order.productTitle}}
              </mat-card>
              <mat-card class="info">
                <p><b>Price:</b></p> {{order.productPrice}} €
              </mat-card>
              <mat-card class="info">
                <p><b>Username:</b></p> {{order.username}}
                </mat-card>
                <mat-card class="info">
                  <p><b>deliveryAdress:</b></p> {{order.deliveryAdress}}
                </mat-card>
                <mat-card class="info">
                  <p><b>city:</b></p> {{order.city}}
                </mat-card>
                <mat-card class="info">
                  <p><b>zipcode:</b></p> {{order.zipcode}}
                </mat-card>
                <mat-card class="info">
                  <p><b>paymentMethod:</b></p> {{order.paymentMethod}}
                </mat-card>
                <mat-card class="info">
                  <p><b>Status:</b></p> {{order.orderStatus}}
                </mat-card>
            </mat-card>
          </mat-list-item>
        </div>
      </mat-card>
  </mat-drawer-content>

</mat-drawer-container>
