  <!--Returns what was written in the register-->
  <!--TODO: Make it possible to change the information-->

  <!--

  <h3>Profile Page</h3>

  <p>Username: {{user?.username}}</p>

  <p>First name: {{userInfo[0]?.firstName}}</p>

  <p>Last name: {{userInfo[0]?.lastName}}</p>

  <p>Email: {{userInfo[0]?.email}}</p>

  <hr>

  <p>Address: {{userInfo[0]?.address}}</p>

  <p>City: {{userInfo[0]?.city}}</p>

  <p>ZipCode: {{userInfo[0]?.zipCode}}</p>

  <hr>

  <p>Birthday: {{userInfo[0]?.birthday}}</p>

  <p>Phonenumber: {{userInfo[0]?.phoneNumber}}</p>

    -->
  