<div *ngIf="userService.getLoggedIn()">

    <mat-stepper class="stepper" [linear]="isLinear" #stepper>

    <!-- // Address-Form \\ -->
    <mat-step class="stepper" [stepControl]="addressFormGroup" state="edit" label="Fill out your address">
        <form [formGroup]="addressFormGroup">

            <mat-form-field appearance="standard">
                <mat-label class="stepper">Write your address</mat-label>
                <input [value]="address" formControlName = "addressCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label class="stepper">Write your city</mat-label>
                <input [value]="city" formControlName = "cityCtrl" matInput>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label class="stepper">Write your zipcode</mat-label>
                <input [value]="zipCode" formControlName = "zipCodeCtrl" matInput>
            </mat-form-field>

            <div>
                <button mat-button matStepperNext (click)="closePurchase()">Close</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

     <!-- // Payment-Form \\ -->
    <mat-step class="stepper" [stepControl]="paymentFormGroup" label="Choose a payment method">
        <form [formGroup]="paymentFormGroup">

            <mat-radio-button value="invoice" formControlName = "invoiceCtrl" ngDefaultControl [checked]="true" >Payment via invoice</mat-radio-button>
            <p>
                <mat-radio-button value="cash" formControlName = "invoiceCtrl" ngDefaultControl [checked]="false" >Cash</mat-radio-button>
            </p>

            <div>
                <button mat-button matStepperNext (click)="closePurchase()">Close</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>

        </form>
    </mat-step>


    <mat-step class="stepper" label="Purchase">
        <p>Click on the purchase button</p>
        <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button matStepperNext (click)="closePurchase()">Close</button>
        <button mat-button (click)="purchase()">Purchase</button>
        </div>
        <p style="color:red">{{ purchaseErrorMsg }}</p>
    </mat-step>

    <ng-template class="stepperIcon" matStepperIcon="edit">
        <mat-icon class="edit-icon" svgIcon="edit_button"></mat-icon>
    </ng-template>

</mat-stepper>
</div>
